{% extends 'base.html' %}

{% block style %}
    <style>
    #comments {
        display: none;
    }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <a href="{% url 'add_post' %}"><button type="button" class="btn btn-info btn-lg btn-block">Add post</button></a>
        <br><br>

        {% for tweet in tweets %}
        <div class="card">
            <div class="float-right">
                <h5 class="card-header">{{ tweet.creation_date }}</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ tweet.content|truncatewords:10 }}</h5>
                <p class="card-text"><i>{{ tweet.user }}</i></p>
                <div class="float-right">
                    <a href="{% url 'post' post_id=tweet.id %}" class="btn btn-info">Show post</a>
                    <button class="btn btn-warning" onclick="myFunction()">Comments ({{ comments_amount }})</button>
                </div>
            </div>
        </div><br>
        {% endfor %}

        <div id="comments">
            {%  for comment in comments %}
                <div class="card bg-light">
                    <div class="card-body">
                        <p style="float: right">{{ comment.creation_date }}</p>
                        <p>{{ comment.comment }}</p>
                        <p><i>{{ comment.user }}</i></p>
                    </div>
                </div><br>
            {% endfor %}
        </div>
    </div>

    <script>
    function myFunction() {
        var x = document.getElementById('comments');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
    </script>
{% endblock %}