{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <h2>W budowie Twitter</h2>

        <a href="{% url 'add_post' %}"><button type="button" class="btn btn-info btn-lg btn-block">Add post</button></a>
        <br><br>
        {% for tweet in tweets %}
        <div class="card">
          <h5 class="card-header">{{ tweet.creation_date }}</h5>
          <div class="card-body">
            <h5 class="card-title">{{ tweet.content }}</h5>
            <p class="card-text">{{ tweet.user }}</p>
            <a href="#" class="btn btn-primary">Add comment</a>
          </div>
        </div><br>
        {% endfor %}
    </div>
{% endblock %}