{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <a href="{% url 'add_post' %}"><button type="button" class="btn btn-info btn-lg btn-block">Add post</button></a>
        <br><br>

        {% for tweet in tweets %}
        <div class="card">
            <div class="float-right">
                <h6 class="card-header float-right small">{{ tweet.creation_date|timesince }} ago</h6>
            </div>
            <div class="card-body">
                <h7 class="card-title">{{ tweet.content|truncatewords:10 }}</h7><hr>
                <p class="card-text"><i><a href="{% url 'user_info' user_id=tweet.user_id %}">{{ tweet.user }}</a></i></p>
                <div class="float-right">
                    <a href="{% url 'post' post_id=tweet.id %}" class="btn btn-info">Show post</a>
                    {% if tweet.comments_set.exists %}
                    <button class="btn btn-warning disabled">Comments ({{ tweet.comments_set.count }})</button>
                    {% else %}
                    <button class="btn btn-warning disabled">Comments</button>
                    {% endif %}
                </div>
            </div>
        </div><br>
    {% endfor %}
    </div>
{% endblock %}