{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Title</h1>
          <p class="lead">{{ message.message }}</p>
          <hr class="my-4">
            <h4><i><a href="{% url 'user_info' user_id=message.sent_by.id %}">{{ message.sent_by.username }}</a></i></h4>
          <p><i>{{ message.date }}</i></p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Answer</a>
          </p>
        </div>
    </div>
{% endblock %}